<header class="bottom-4">
   <nav
      class="shadow-slate-200 shadow-lg fixed z-50 w-full bg-white flex flex-row md:flex-col justify-between py-3 px-2">

      <div class="flex md:justify-between"> <!-- Contenedor para los elementos alineados horizontalmente -->
         <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar"
            aria-controls="default-sidebar" type="button"
            class="inline-flex justify-center border-gray-300 border-4 w-14 h-12 items-center mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd"
                  d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
               </path>
            </svg>
         </button>
         <div class="flex items-center ">
            <a *ngIf="isDesktop">
               <img src="https://www.santafe.gob.ar/assets/app/portal2016/images/logo-header.png" class="h-24"
                  alt="Logo Santa Fe" />
            </a>
            <h1 class="title ml-4 font-medium md:mb-10 " *ngIf="isDesktop">{{ministerio}}</h1>
            <h1 class="title mx-4 font-medium mt-4 " *ngIf="!isDesktop">{{ministerioCorto}}</h1>
         </div>
         <div *ngIf="user" class="flex md:items-center items-end ml-10">
            <img class="w-12 h-12 md:mt-4 rounded-full" src="data:image/png;base64,{{ user?.foto }}"
               alt="Rounded avatar" />
         </div>

      </div>

   </nav>

</header>

<!-- SIDE BAR NAV -->

<aside id="default-sidebar"
   class=" bg-white fixed top-0 left-0 z-40 md:w-64 w-screen h-screen transition-transform -translate-x-full sm:translate-x-0"
   aria-label="Sidebar">

   <div class="h-full mt-36 aside overflow-y-auto">

      <button type="button" data-drawer-hide="default-sidebar" aria-controls="default-sidebar"
         class=" sm:hidden justify-center border-gray-300 border-4 w-14 bg-transparent p-2 hover:bg-gray-200 rounded-lg text-sm  absolute top-2.5 left-2.5 inline-flex items-center">
         <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
               d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
         </svg>
      </button>

      <ul class="space-y-2 font-medium ml-4">
         <li  *ngIf="user" class="shadow-slate-300 shadow-sm rounded-lg ">
            <a [routerLink]="['inicio']" class="list-styles  flex items-center p-2 outline-none rounded-lg" appAutofocus>
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
               <span class="ml-2 mt-2 ">Inicio</span>
            </a>
         </li>
         <li *ngIf="user" class="shadow-slate-300 shadow-sm rounded-lg " (click)="perfil()">
            <a  class=" list-styles  flex items-center p-2 rounded-lg group">
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
               <span class="ml-2 mt-2 ">Perfil</span>
            </a>
         </li>
         <li *ngIf="user" class="shadow-slate-300 shadow-sm rounded-lg " (click)="logout()">
            <a  class=" list-styles  flex items-center p-2 rounded-lg group">
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
               <span class="ml-2 mt-2 ">Cerrar sesión</span>
            </a>
         </li>
         <li *ngIf="!user" class=" shadow-slate-300 shadow-sm rounded-lg" (click)="login()">
            <a  class="list-styles  flex items-center p-2 rounded-lg group ">
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/></svg>
               <span class="ml-2 mt-2 ">Ingresar</span>
            </a>
         </li>
      </ul>
   </div>
</aside>