<nav class="fixed top-0 z-40 w-full bg-white border-b border-gray-200" [ngClass]="open ? 'menu' : ''">
   <div class="px-3 py-1 lg:px-5 lg:pl-4">
      <div class="flex items-center justify-between">
         <div class="flex items-center justify-start">
            <!-- ************** -->
            <!-- boton opciones mobile -->
            <!-- ************** -->
            <button (click)="openSidenav()" aria-controls="logo-sidebar" type="button"
               class="inline-flex items-center p-2 mr-3 text-sm text-gray-500 rounded-lg sm:mr-0 sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
               <span class="sr-only">Open sidebar</span>
               <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" fill-rule="evenodd"
                     d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                  </path>
               </svg>
            </button>
            <a *ngIf="isDesktop" routerLink="/" class="flex md:mr-[5rem] ocultar-sm">
               <img src="https://www.santafe.gob.ar/assets/app/portal2016/images/logo-header.png"
                  class="h-[4.5rem] mr-3" alt="Logo Santa Fe" />
            </a>

            <!-- ************** -->
            <!--     TITULOS    -->
            <!-- ************** -->
            <div class="flex flex-row items-center justify-between">
               <div class="flex flex-col justify-center">
                  <h1 *ngIf="isDesktop" class="my-0 text-2xl font-medium sm:text-3xl">
                    {{ministerio}}
                  </h1>
                  <h1 *ngIf="!isDesktop" class="my-0 text-2xl font-medium sm:text-3xl">
                     {{ministerioCorto}}
                   </h1>
                  <h2 class="my-0 text-lg secondary ocultar-sm">
                     <app-notificaciones></app-notificaciones>
                  </h2>
             
               </div>
            </div>

            <div class="flex flex-row items-center justify-between">
               <div class="flex flex-col justify-center">
                  <h1 class="my-0 text-2xl font-medium sm:text-3xl">

                  </h1>
                  <h2 class="my-0 text-lg secondary ocultar-sm">

                  </h2>
               </div>
            </div>
         </div>

         <!-- ************** -->
         <!-- NOTIFICACIONES -->
         <!-- ************** -->

         <!-- Si no usas sidebar elimina las clases de este contenedor -->
         <div class="block sm:hidden">
            <app-notificaciones></app-notificaciones>
         </div>

         <!-- ************** -->
         <!-- LOGO USUARIO   -->
         <!-- ************** -->
         <div class="flex items-center">
            <div class="flex items-center ml-3">
               <div>
                  <button type="button"
                     class="flex items-center justify-center w-10 h-10 text-sm bg-gray-200 rounded-full sm:w-12 sm:h-12 focus:ring-4 focus:ring-gray-300"
                     aria-expanded="false" data-dropdown-toggle="dropdown-user">
                     <span class="sr-only">Open user menu</span>
                     <!-- <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo"> -->
                     <svg class="w-8 h-8 overflow-hidden text-gray-400 rounded-full sm:w-10 sm:h-10" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                           clip-rule="evenodd"></path>
                     </svg>
                        <img *ngIf="usuarioSrv.getUser().foto" class="w-12 h-12 rounded-full" src="data:image/png;base64,{{ usuarioSrv.getUser().foto }}"
                           alt="Rounded avatar" />
                  </button>
               </div>
               <div class="z-40 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow"
                  id="dropdown-user">
                  <div class="px-4 py-3">
                     <p class="text-sm text-gray-900">
                        {{ usuarioSrv.getUser().nombre }}  {{ usuarioSrv.getUser().apellido }}
                     </p>
                     <p class="text-sm font-medium text-gray-900 truncate">
                        {{ usuarioSrv.getUser().email}}
                     </p>
                  </div>
                  <ul class="py-1">
                     <li>
                        <a 
                           [href]="urlPerfil" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                           role="menuitem">Perfil</a>
                     </li>

                     <li *ngIf="usuarioSrv.getUser()">
                        <a 
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                           role="menuitem" (click)="logout()">Cerrar sesión</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="z-50 w-full h-full px-3 pt-6 pb-4 overflow-y-auto bg-gray-200 sm:hidden"
      [ngClass]="open ? '' : 'hidden'">
      <ng-content></ng-content>
   </div>
</nav>





<!-- <header class="bottom-4">
   <nav
      class="shadow-slate-200 shadow-lg fixed z-50 w-full bg-white flex flex-row md:flex-col justify-between py-3 px-2">

      <div class="flex md:justify-between"> Contenedor para los elementos alineados horizontalmente
         <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar"
            aria-controls="default-sidebar" type="button"
            class="inline-flex justify-center border-gray-300 border-4 w-14 h-12 items-center mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd"
                  d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
               </path>
            </svg>
         </button>
         <div class="flex items-center ">
            <a *ngIf="isDesktop">
               <img src="https://www.santafe.gob.ar/assets/app/portal2016/images/logo-header.png" class="h-24"
                  alt="Logo Santa Fe" />
            </a>
            <h1 class="title ml-4 font-medium md:mb-10 " *ngIf="isDesktop">{{ministerio}}</h1>
            <h1 class="title mx-4 font-medium mt-4 " *ngIf="!isDesktop">{{ministerioCorto}}</h1>
         </div>
         <div *ngIf="usuarioSrv.getUser()" class="flex md:items-center items-end ml-10">
            <img class="w-12 h-12 md:mt-4 rounded-full" src="data:image/png;base64,{{ usuarioSrv.getUser().foto }}"
               alt="Rounded avatar" />
         </div>

      </div>

   </nav>

</header>



<aside id="default-sidebar"
   class=" bg-white fixed top-0 left-0 z-40 md:w-64 w-screen h-screen transition-transform -translate-x-full sm:translate-x-0"
   aria-label="Sidebar">

   <div class="h-full mt-36 aside overflow-y-auto">

      <button type="button" data-drawer-hide="default-sidebar" aria-controls="default-sidebar"
         class=" sm:hidden justify-center border-gray-300 border-4 w-14 bg-transparent p-2 hover:bg-gray-200 rounded-lg text-sm  absolute top-2.5 left-2.5 inline-flex items-center">
         <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
               d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
         </svg>
      </button>

      <ul class="space-y-2 font-medium ml-4">
         <li  *ngIf="usuarioSrv.getUser()" class="shadow-slate-300 shadow-sm rounded-lg ">
            <a [routerLink]="['inicio']" class="list-styles  flex items-center p-2 outline-none rounded-lg" appAutofocus>
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
               <span class="ml-2 mt-2 ">Inicio</span>
            </a>
         </li>
         <li *ngIf="usuarioSrv.getUser()" class="shadow-slate-300 shadow-sm rounded-lg " >
            <a href={{urlPerfil}} target="_blank"  class="list-styles  flex items-center p-2 rounded-lg group">
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
               <span class="ml-2 mt-2 ">Perfil</span>
            </a>
         </li>
         <li *ngIf="usuarioSrv.getUser()" class="shadow-slate-300 shadow-sm rounded-lg " (click)="logout()">
            <a  class=" list-styles  flex items-center p-2 rounded-lg group">
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
               <span class="ml-2 mt-2 ">Cerrar sesión</span>
            </a>
         </li>
         <li *ngIf="!usuarioSrv.getUser()" class=" shadow-slate-300 shadow-sm rounded-lg" (click)="login()">
            <a  class="list-styles  flex items-center p-2 rounded-lg group ">
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/></svg>
               <span class="ml-2 mt-2 ">Ingresar</span>
            </a>
         </li>
      </ul>
   </div>
</aside> -->