@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

.title{
    color: #0a57a0;
}
.contactos{
    fill:  #7c7b7b;
    color: #7c7b7b;
    font-family: 'Outfit', sans-serif;
}
.telephone{
    fill:#018634;
}

