
<app-header>
    <app-list-sidebar></app-list-sidebar>
</app-header>

<app-sidebar>
    <app-list-sidebar></app-list-sidebar>
</app-sidebar>
<div
    class="container w-full py-4 my-16 md:w-10/12 grid-container"
    [ngClass]="{ expanded: layoutSrv.isExpand }">
    <div class="">
      <router-outlet></router-outlet>
    </div>

</div>
<div
    class="container w-full md:w-10/12 "
    [ngClass]="{ expanded: layoutSrv.isExpand }">
    <div class="">
        <div class="footer">
            <app-footer></app-footer>
            </div>
    </div>