<span>
  <h2 class="ml-6 text-2xl primary">Notificaciones</h2>
</span>
<div
  *ngIf="notificacionSrv.checkNotificacion(); else noNotifications"
  class="flex flex-col items-center mt-5 ml-6 overflow-y-auto"
>
  <div
    *ngFor="let message of notificacion$ | async; let id = index"
    class="w-full"
  >
    <a
      [href]="message?.url"
      target="_blank"
      (click)="deleteNotification(id)"
      class="flex flex-col justify-start w-11/12 h-32 my-2 bg-white border border-gray-200 rounded-lg shadow-md md:h-20 hover:no-underline"
    >
      <div class="mt-2 ml-5">
        <h4 class="titulo">{{ message?.title }}</h4>
      </div>
      <div class="flex ml-5 text-gray-400 md:flex-row">
        <p>
          {{ message?.body }}
        </p>
      </div>
    </a>
  </div>
</div>

<ng-template #noNotifications>
  <div
    class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
    role="alert"
  >
    <svg
      class="flex-shrink-0 inline w-4 h-4 me-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
      />
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">No tenes notificaciones pendientes!</span>
    </div>
  </div>
</ng-template>
