<div class="min-h-screen my-4 mx-2 sm:ml-64 border-2 bg-fondo">
    <ul class="flex flex-wrap justify-center my-4 mx-2 text-white text-center bg-white border-2 border-gray-300">
        <li class="bg-primary hover:text-teal-600  hover:bg-white border-2 border-gray-300 rounded-lg basis-10/12 md:basis-1/4 py-5 my-2 m-2 hover:shadow-lg">
            <a></a>
            <p class="font-bold">SISTEMA</p>
        </li>
        
        <li class="bg-primary hover:text-teal-600  hover:bg-white border-2 border-gray-300 rounded-lg basis-10/12 md:basis-1/4 py-5 my-2 m-2 hover:shadow-md">
            <p class="font-bold">SISTEMA</p>
        </li>
        <li class="bg-primary hover:text-teal-600  hover:bg-white border-2 border-gray-300 rounded-lg basis-10/12 md:basis-1/4 py-5 my-2 m-2 hover:shadow-md">
            <p class="font-bold">SISTEMA</p>
        </li>
        <li class="bg-primary hover:text-teal-600  hover:bg-white border-2 border-gray-300 rounded-lg basis-10/12 md:basis-1/4 py-5 my-2 m-2 hover:shadow-md">
            <p class="font-bold">SISTEMA</p>
        </li>
        <li class="bg-primary hover:text-teal-600  hover:bg-white border-2 border-gray-300 rounded-lg basis-10/12 md:basis-1/4 py-5 my-2 m-2 hover:shadow-md">
            <p class="font-bold">SISTEMA</p>
        </li>
    </ul>
</div>