

    <ul class="w-ful mx-2 bg-white rounded-lg mb-1 items-center flex flex-wrap justify-center lg:flex-row flex-col ">
        <li *ngFor="let sistema of sistemas , let id = index" class="list w-full shadow-gray-300 shadow-md border border-gray-00 md:basis-5/12 md:m-2 my-2 rounded-md">
            <div class="h-16 flex flex-col justify-center items-center rounded-t-lg">
                <p class="font-bold  mx-2 title tracking-wide">{{sistema.nombre | titlecase}}</p>
            </div>
            <hr class="mx-4">
            <div class="h-32 overflow-y-auto" >
                <div *ngIf="sistema.logo && sistema.descripcion" class="flex descripcion justify-center items-center">
                    <img class="w-28 h-32 md:mr-8 ml-7" src="{{sistema.logo}}"
                    alt="logo" />
                  <p class="">{{sistema.descripcion}}</p>
                </div>
                <div *ngIf="sistema.logo && sistema.descripcion == '' || sistema.logo && !sistema.descripcion" class="flex justify-center items-center">
                    <img class="w-28 h-32 md:mr-10 ml-2" src="{{sistema.logo}}"
                    alt="logo"/>
                </div>
                <div *ngIf="!sistema.logo" class="flex mx-3 descripcion justify-center ">
                    <p>{{sistema.descripcion}}</p>
                </div>
            </div>
            <div class="flex flex-row justify-center bottom-0 py-4">
                <button *ngIf="sistema.acceso" class=" boton bg-gray-300 w-32 px-5 py-2 mx-5 rounded-lg" (click)="irASistema(sistema.acceso)">Ir</button>
                <button class=" boton-contactos bg-gray-300 w-32 py-2 mx-5  rounded-lg" (click)="openModal(id)">Contactos</button>
            </div>
        </li>
    </ul>

<app-modal-contactos></app-modal-contactos>
