
<div class=" main-fondo flex justify-start  flex-col ">
    <ul class=" bg-white rounded-lg mb-1 md:w-10/12 md:items-center flex flex-wrap justify-center lg:flex-row flex-col ">
        <li *ngFor="let sistema of sistemas , let id = index" class="list shadow-gray-300 shadow-md border border-gray-00  m-4 md:w-5/12 md:h-82 rounded-md">
            <div class="h-16 flex flex-col justify-center items-center rounded-t-lg">
                <p class="font-bold  mx-2 title tracking-wide">{{sistema.nombre | titlecase}}</p>
            </div>
            <hr class="mx-4">
            <div *ngIf="sistema.logo" class="flex my-4 descripcion justify-center items-center">
                <img class="w-28 h-32 md:mr-10 ml-4" src="{{sistema.logo}}"
                alt="logo" />
              <p class="md:mr-20">{{sistema.descripcion}}</p>
            </div>
            <div *ngIf="sistema.logo && sistema.descripcion == '' || sistema.logo && !sistema.descripcion" class="flex justify-center items-center">
                <img class="w-28 h-32 md:mr-10 ml-4" src="{{sistema.logo}}"
                alt="logo"/>
            </div>
            <div *ngIf="!sistema.logo" class="flex my-4 mx-2 descripcion justify-center items-center">
                <p>{{sistema.descripcion}}</p>
            </div>
            <div class="flex flex-row justify-center bottom-0 py-4">
                <button *ngIf="sistema.acceso" class=" boton bg-gray-300 w-32 px-5 py-2 mx-5 rounded-lg" (click)="irASistema(sistema.acceso)">Ir</button>
                <button class=" boton-contactos bg-gray-300 w-32 py-2 mx-5  rounded-lg" (click)="openModal(id)">Contactos</button>
            </div>
        </li>
    </ul>
</div>
<app-modal-contactos></app-modal-contactos>
